<header class="sticky top-0 z-50 bg-gradient-to-b from-gray-800 to-gray-900 shadow-md border-b border-gray-600 text-white">
  <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
   <a href="<%= products_path %>" class="flex title-font font-medium items-center text-gray-300 mb-4 md:mb-0">
  <div class="w-10 h-10 bg-indigo-500 rounded-full overflow-hidden flex justify-center items-center">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-8 h-8 text-white" viewBox="0 0 24 24">
      <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
    </svg>
  </div>
  <span class="ml-3 text-xl">E-Commerce App</span>
</a>

    <nav class="md:ml-auto flex flex-wrap items-center text-base justify-center">
      <a class="mr-5 hover:text-gray-300">First Link</a>
      <a class="mr-5 hover:text-gray-300">Second Link</a>
      <a class="mr-5 hover:text-gray-300">Third Link</a>
      <a class="mr-5 hover:text-gray-300">Fourth Link</a>
    </nav>
    <button class="inline-flex items-center bg-gray-100 border-0 py-1 px-3 focus:outline-none hover:bg-gray-300 rounded text-base mt-4 md:mt-0 text-gray-900 hover:text-gray-900">Button
      <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-1" viewBox="0 0 24 24">
        <path d="M5 12h14M12 5l7 7-7 7"></path>
      </svg>
    </button>
  </div>
</header>
