<section class="text-gray-600 body-font overflow-hidden">
  <div class="container px-5  mx-auto">
    <div class="lg:w-4/5 mx-auto flex flex-wrap  ">
      <div>
            <img alt="ecommerce" class="lg:w-1/2 w-full lg:h-auto h-64 object-cover object-center rounded" src="https://dummyimage.com/400x400">
      </div>
        <h2 class="text-sm title-font text-gray-500 tracking-widest"><%= @category.name %></h2>
      </div>
      <button class="flex ml-auto text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded">Button</button>
    </div>
  </div>
</div>
</section>
